/* ------ MENU E ESTRUTURA GERAL ------ */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(1, 43, 77);
}
header {
    height: 150px;
    position: relative;
    background-color: rgb(23, 149, 149);
}
h1 {
    margin: 0;
    padding: 12px;
    font-size: 50px;
    font-family: Georgia;
    color: white;
    position: absolute;
    top: 35px;
    left: 80px;
}

.linkMenu {
    position: absolute;
    top: 100px;
    font-size: 25px;
    color: white;
}

.linkHome { right: 370px; }
.linkSobre { right: 280px; }
.linkFormacao { right: 150px; }
.linkContato { right: 42px; }

footer, .footerPadraoSob, .footerPadraoForm, .footerPadraoCont {
    text-align: center;
    background-color: rgb(23, 149, 149);
    color: white;
    font-size: 30px;
    height: 50px;
    position: relative;
    margin-top: 50px;
}
#footerHome {
    text-align: center;
    background-color: rgb(23, 149, 149);
    color: white;
    font-size: 30px;
    height: 50px;
    top: 10px;
    position: relative;
}
.footerPadraoSob, .footerPadraoForm {
    top: 100px;
}
.footerPadraoCont {
    top: 5px;
}


/* ------ PÁGINA INICIAL ------ */
#bioCurta {
    text-align: center;
    font-size: 30px;
    color: white;
    border: 5px solid rgb(66, 172, 172);
    border-radius: 30px;
    margin-top: 130px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 50px;
    background-color: rgb(101, 167, 167);
    width: 900px;
}
#secaoBotao {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(66, 172, 172);
    border-radius: 30px;
    margin-top: 60px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 50px;
    background-color: rgb(101, 167, 167);
    width: 900px;
}
#botaoCurriculo {
    text-align: center;
    position: relative;
    bottom: 10px;
}
#curriculo {
    margin: 55px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    right: 110px;
    border: rgb(1, 43, 77) 3px solid;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 43, 77);
}
#foto1 { position: absolute; top: 250px; left: 1350px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}


/* ------ SOBRE ------ */
#foto2 { position: absolute; top: 220px; left: 330px;  border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto3 { position: absolute; top: 220px; left: 825px;  border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto4 { position: absolute; top: 220px; left: 1300px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#sobreMim {
    position: relative;
    text-align: center;
    font-size: 30px;
    top: 400px;
    padding: 50px;
    color: white;
    border: 5px solid;
    background-color: rgb(101, 167, 167);
    border-color: rgb(66, 172, 172);
    border-radius: 30px;
    margin: 100px;
    margin-bottom: 500px;
}
#secaoHobbies {
    position: relative;
    text-align: center;
    line-height: 15px;
    font-size: 30px;
    top: 10px;
    padding: 50px;
    margin: 600px;
    color: white;
    border: 5px solid;
    border-color: rgb(23, 149, 149);
    border-radius: 30px;
    background-color: rgb(101, 167, 167);
}
#foto5 { position: absolute; top: 1500px;  left: 1400px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto6 { position: absolute; top: 1500px;  left: 100px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto7 { position: absolute; top: 2050px;  left: 100px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto8 { position: absolute; top: 2040px;  left: 700px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto9 { position: absolute; top: 2050px;  left: 1400px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}


/* ------ FORMAÇÃO ------ */
.secaoAcade {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: white;
    border: 5px solid rgb(66, 172, 172);
    border-radius: 30px;
    margin-top: 130px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 50px;
    background-color: rgb(101, 167, 167);
    width: 900px;
}
.secaoProf {
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(66, 172, 172);
    border-radius: 30px;
    margin-top: 60px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 50px;
    background-color: rgb(101, 167, 167);
    width: 900px;
}
.secaoAcade, .secaoProf {
    position: relative;
    margin: 80px;
    font-size: 30px;
}
#foto10 { position: absolute; top: 300px; left: 1350px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto11 { position: absolute; top: 750px; left: 1350px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}
#foto12 { position: absolute; top: 1200px;  left: 1350px; border: 5px solid; border-color: rgb(101, 167, 167); border-radius: 30px;}


/* ------ FORMULÁRIO ------ */
#formContato {
    text-align: center;
    position: relative;
    font-size: 30px;
    padding: 150px;
    top: 100px;
    color: white;
}
#nome, #email {
    height: 30px;
    width: 200px;
    left: 100px;
    color: white;
}
#assunto {
    height: 40px;
    width: 220px;
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
#mensagem {
    height: 200px;
    width: 500px;
    color: rgb(0, 0, 0);
}
#Enviar {
    height: 50px;
    width: 200px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    border-color: rgb(23, 149, 149);
    border-radius: 30px;
    background-color: rgb(23, 149, 149);
    color: white;
}